html {
	background-color: #ececec;
	overflow-x: hidden;
	overflow: hidden;
    overflow-y: auto;

}

body {
	margin: 0 auto;
	
}

.logo a {

	font-size: 1.5em;
	text-decoration: none;
	letter-spacing: 2px;
	line-height: 80px;
	
	float: left;
	margin-left: 8%;
	margin-top: px;
	font-family: 'Open Sans';
	color: #4A4A4A;
	
}

@media all and (max-width: 800px) {
	.logo a {
		font-size: 1.3em;
		line-height: ;
	}
}


/*Use jquery to change (lower) opacity on scroll (when past jumbotron)*/
.container-nav {
	background-color: white;
	height: 80px;
	z-index: 1;
	position: fixed;
	left: 0px;
	right: 0px;
	
	top: 0;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
	
}



@media (max-width: 1080px) {
  .top-nav {
    display:;
  }
}
.top-nav {
	margin-right: 58px;
	float: right;



}


.top-nav a {
	font-family: 'Open Sans';
	display:inline-block;
	margin-left: 58px;
	line-height: 80px;
	font-size: 1.25em;
	font-weight: ;
	text-decoration: none;
	color: #808080;
}
.top-nav a:hover {
	color: #1A1A1A;
}

@media all and (max-width: 1080px) {
	.top-nav a {
		margin-left: 40px;
	}
}

@media all and (max-width: 600px) {
	.top-nav a {
		display: none;
	}
}








.mainheader-container {
	background: url("site_banner-01.svg") no-repeat center center fixed;
	
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
	background-size: cover;
	width: 100%
	height: 600px;
	line-height: 800px;
	text-align: center;
	margin-bottom: -20px;
}

@media all and (min-width: 1500px) {
	.mainheader-container {
		background: url("site_banner-01.svg")  center center fixed;
		background-attachment: scroll;
		background-size: cover;
		height: 800px;
	}
}

@media all and (max-width: 1080px) {
	.mainheader-container {
		background: url("site_banner-01.svg")  center center fixed;
		background-attachment: scroll;
		background-size: cover;
		height: 600px;
	}
}

.jumbotron-text {
	
	


}
/*add media query for iphone text (make smaller)*/


.jumbotron-text h1 {
	font-size: 3.75em;
	font-family: 'Open Sans';
	font-weight: 400;
	display: inline-block;
  	vertical-align: middle;
  	line-height: 600px;
	color: white;


	
}

@media (min-width: 1500px) {
	.jumbotron-text h1 {
		line-height: 800px;
		font-size: 4em;
	}
}

@media (max-width: 1080px) {
	.jumbotron-text h1 {
		font-size: 3em;
		margin-left: 20px;
		margin-right: 20px;
	}
}





.kicker {
	font-size: 20px;
	font-family: 'Open Sans';
	margin: 0px;
	color: #1A1A1A;

}


.about-section-header {
	font-family: 'Open Sans';
	height: 175px;
	left: 0px;
	right: 0px;
	top:0;
	
	
}
.about-section-header h1 {
	line-height: 300px;
	padding-top: ;
	color: #3498db;
	font-size: 1.5em;
	text-align: center;
}
.about-section-container {
	overflow: hidden;
	height: ;
	background-color: #ececec;
	
	
	
}

.bio {
	overflow: hidden;
	height: 500px;
}

@media all and (min-width: 1400px) {
	.bio {
		height: 800px;
	}
}

.bio-pic {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 200px; 
  float: right;
  margin-top: 50px;
  margin-right: 200px;


}

.bio-pic img {

	width: 250px;
  height: 250px;
  border-radius: 200px;
}

@media all and (max-width: 1080px) {
  .bio-pic {
	margin:  auto;  
   float:none;
   margin-top: 70px;
	}
}

@media all and (max-width: 600px) {
	.bio-pic {
	width: 200px;
  	height: 200px;
	}
}

@media all and (max-width: 1080px) {
  .bio-pic img {
	margin:  auto;  
   	float:none;
   }
}

@media all and (max-width: 600px) {
	.bio-pic img {
	width: 200px;
  	height: 200px;
	}
}

.bio-copy p {
	max-width: 50%;
	font-size: 1.5em;
	color: #808080;
	font-family: 'Open Sans';
	text-align: left;
	margin-left: 80px;
	margin-top: 100px;
	font-weight: 400;

}


@media all and (max-width: 1080px) {
  .bio-copy p {
    text-align: center;
    margin-top:0px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%;

  }
}

@media all and (max-width: 400px) {
	.bio-copy p {
		font-size: 1.4em;
		max-width: 100%;
	}
}


/*Design Section*/

.design {
	overflow: hidden;
	background-color: #3498db; 
	height: 600px;
}

.design-icon {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 200px; 
  float: left;
  margin-top: 100px;
  margin-left: 200px;


}

.design-icon img {

}

@media all and (max-width: 1080px) {
  .design-icon {
	margin:  auto;  
   float:none;
   margin-top: 70px;
	}
}

@media all and (max-width: 600px) {
	.design-icon {
	width: 200px;
  	height: 200px;
	}
}
.design-copy p {

	font-size: 1.5em;
	
	color: white;
	font-family: 'Open Sans';
	text-align: left;
	margin-right: 100px;
	margin-top: 200px;
	max-width: 50%;
	float: right;
	
		font-weight: 400;

}


@media all and (max-width: 1080px) {
  .design-copy p {
    text-align: center;
    padding-top: 50px;
    max-width: 80%;
    margin: 0 auto;
    float: none;

  }
}

@media all and (max-width: 400px) {
	.design-copy p {
		font-size: 1.4em;
	}
}


/*Dev Section*/

.dev {
	overflow: hidden;
	height: 450px;
}

.dev-icon {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 200px; 
  float: right;
  margin-top: 100px;
  margin-right: 200px;


}

@media all and (max-width: 1080px) {
  .dev-icon {
	margin:  auto;  
   float:none;
   margin-top: 70px;
	}
}

@media all and (max-width: 600px) {
	.dev-icon {
	width: 200px;
  	height: 200px;
	}
}
.dev-copy p {
	float: left;
	font-size: 1.5em;
	color: #808080;
	font-family: 'Open Sans';
	text-align: left;
	margin-left: 80px;
	margin-top: 100px;
	font-weight: 400;

}


@media all and (max-width: 1080px) {
  .dev-copy p {
  	float: none;
    text-align: center;
    margin-top:0px;
    margin-left: 10%;
    margin-right: 10%;

  }
}

@media all and (max-width: 400px) {
	.dev-copy p {
		font-size: 1.4em;
	}
}




.work-section-preamble {
	font-size: 1.3em;
	max-width: 100%;
	font-weight: 500;
	color: #3498db;
	text-align: center;
	padding-top: 25px;
	margin: 0 auto;
	border-radius: 5px;
	width: 500px ;
	height: 100px;
	line-height: 100px;
	
}

.preamble-icon img {
	display: block;
	height: 60px;
	width: 40px;
	background-color: ; 
	margin: 0 auto;
	
	
}


.work-section-header {
	

	height: px;
	left: 0px;
	right: 0px;
	top:0;
	
}

.work-section-header h1 {
	position: relative;
	bottom: 80px;
	display: 
}
.work-section-container {
	overflow: hidden;
	font-family: 'Open Sans';
	background-color: white; 
}

.shots {
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
	

}

.shots li {
	float: left;
	width: 25%;
}


@media all and (max-width: 1080px) {
	.shots li {
		width: 50%;
	}
}


@media all and (max-width: 400px) {
	.shots li {
		width: 50%;
	}
}


.shots a {
	display: block;
  	
  	height: 100%;




}

.shots img {
	width: 100%;
	display: block;
}


.shots--shot:hover {

	opacity: 0.1;
	transition: opacity .25s ease-in-out;
	  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}









span {
	font-weight: 600;
}

.contact-section-container {
	height: 700px;
	background-color: #ececec;
	left: 0;
	position: relative;
	

}

.contact-section-header {
	
	font-family: 'Open Sans';
	height: 175px;
	left: 0px;
	right: 0px;
	top:0;
}

.contact-section-header h1 {
	line-height: 300px;
	padding-top: ;
	color: #3498db;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

.social-icons {
	max-width: 800px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 100px;
	height: px;
	align-items: center;
	overflow: auto;
}



.social-icons {
	max-width: 1000px;
	margin: 0px auto px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}

.social-icons a {
	display: block;
	background-color: #3498db;
	font-size: 1.5em;
	text-decoration: none;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	color: white;
	border-radius: 50%;
	margin: 50px;

}



.footer {
	background-color: #ececec;
	
	height: 40px;
	width: 100%;
	left: 0px;
	right: 0px;
	
	margin-bottom: px; 
	top: 0;
	
}
.footer p {
	font-family: 'Open Sans';
	display:block;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	
	font-size: 1em;
	font-weight: 700;
	text-decoration: none;
	color: #95a5a6;

}

@media all and (max-width: 350px) {
	.footer p {
	font-size: .9em;
	text-align: center;
	margin: 0 auto;
	display: block;
	
	}
}

